.Chair {
    width: 40px;
    height: 40px;
    border: 1px solid #111;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.booking
{
    background-color: rgb(255, 60, 60);
    color: white;
    font-weight: bold;
    border: transparent;
}
.booked
{
    background-color: gray;
    color: white;
    font-weight: bold;
    border: transparent;
}